html,body{
    height: 100%;
}
body{
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#btn{
    background-color: #338C9D;
    border: none;
}
.form-check-input:checked{
    background-color: #338C9D;
    border: none;
}
#akanName, #day{
    color: aliceblue;
    font-weight: bold;
    font-size: 36px;
}